.bigContainer{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.619); 
  }

.formContainer{
    z-index: 1;
    background-color: #efeeeef5;
    height: 80vh;
    top: 10vh;
    bottom: 10vh;
    width: 30vw;
    right: 35vw;
    left: 35vw;
    border-radius: 10vh;
    border: 1px solid black;
}

.form-title{
    padding-top: 8vh;
    padding-left: 5vw;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 5.5vh;
    color: #4D4D4D;
}

.formbox{
    color: #4D4D4D;
    font-family: 'Inter';
    font-weight: 400;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top:5vh;
    display: flex;
    
    flex-direction: column;
  
}
.formbox input{
    width: 100%;
    height: 6vh;
    margin-top: 2vh;
    border-radius: 3vh;
    border:2px #4D4D4D solid;
    background-color: #efeeee;
    color: #4D4D4D;
    font-family: 'Inter';
    text-align: center;
    font-size: 2vh;


}

.loginbutton{
    align-self: center;
    width: 90%;
    height: 6vh;
    margin-top: 2vh;
    border-radius: 3vh;
    border:none;
    background-color: #909090;
    color:#efeeeef5 ;
    font-family: 'Inter';
    text-align: center;
    font-size: 2.5vh;
    font-weight: 500;

}
.loginbutton:hover{
    cursor: pointer;
    background-color:  #4D4D4D;
}

.rememberme{
    display: flex;
    width: 100%;
    height: 4vh;
}
.rememberme input{
   width: 10%;
    height: 2.5vh;
    padding-top: 2vh;
    margin: 0;
    
}

.noaccount{
    padding-top: 4vh;
    align-self:center ;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.8vw;
    color: #4D4D4D;
}
.noaccount span{
    font-weight: 600;
    text-decoration: underline;
    color: #4D4D4D;
}
.noaccount span a{
    color: #4D4D4D;
}
.noaccount span:hover{
    cursor: pointer;
}

 .forgotpassword{
    padding-top: 1vh;
    align-self:center ;
    font-family: 'Inter';
    font-weight: 600;
    text-decoration: underline;
    font-size: 0.8vw;
    color: #4D4D4D;

 }
 .forgotpassword:hover{cursor: pointer;}

 .hide{
    display: flex;
    gap: 16vw;
 }

 .hide :hover{
    cursor: pointer;
 }
.errormessage{
    color: red;
    font-size: 2vh;
    font-weight: 500;
}
