
.full-container {
    font-family: "Inter", sans-serif ;
    font-weight: 500;
    text-align: center;
    width: 35vw;
    height: 120vh;

  }
  
  .month{
    
      font-size: 30px;
      font-weight: 500; 
  }

  .daydate{
    font-size: 50px;
    
    font-weight: 900; 
  

  }
.title {
    text-align: start;
    margin-top: 20px;
    font-weight: 700;
    font-size: 200%;

  }
.list-container {
    margin-top: 20px;
  }

  
.Item {
    border-bottom: 1px solid #ccc;

    display: grid;
    column-gap: 50px;
    grid-template-columns: 30% 50% 20%;
    padding: 10px;

  }
  
.ProprietiesItem{

    padding: 20px;
    font-size: 25px;
    text-align: center;
    border-radius: 10%;
  
  }
.eventDesc{
    color: #4D4D4D;
    font-size: 15px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .selected{
  white-space: normal ;
  overflow: visible;
  text-overflow: initial;

}
.eventName{
    padding-bottom: 5px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    

 }
 .selected{
  white-space: normal !important;
  overflow: visible;
  text-overflow: initial;

} 

button{
  padding: 10px 20px; /* Adjust padding as needed */
  width: 125px;
  font-size: 16px;   /* Adjust font size as needed */
  background-color: #F7C159; /* Set your desired button color */
  color: #fff;       /* Set your desired text color */
  border: none;
  border-radius: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

}

.buttonContainer{
  padding: 30%;
  padding-top: 20px;


}

  
 
  