/* Sidebar.css */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 650px;
    width: 230px ;
    border-radius: 7%;
    border:#FFFFFF;
    margin: 2%;
    background-color: #FFFFFF;
  }
  .sidebar-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    cursor: pointer;
    font-size: 17px; 
    margin-top: 6%;
    color: rgb(139, 141, 141);
    font-family: inter;
    font-weight: 500;

  }

  .item
  {
    margin-left: 5%;
    font-size: 20px;

  }
  

  .userName{
  margin: 5%;
  font-family: inter;
  font-weight:800;
  font-size: 25px;
  padding: 0;
  cursor: pointer;

  }
  .userStatus{
    margin: 5%;
    font-family: inter;
    font-size: 15px;
    padding: 0;
  }


  .items{
    margin-top: 25%;
  }

  .icon-size{
    width: 100px;
    height: 50px;
    font-size: 50px;
    margin-right: 0;
    padding-right: 0;
  }

  .tickedDiv{
    height: 1.6vw;
    width: 0.3vw;
    background-color: #F7C159;
    margin-right: 0.7vw;
    display: none;

  }
  .tickedDiv.visible {
    display: block;
    /* Add any other styles as needed */
  }
  .back{
    background-color: #EBEBEB;
    padding: 0;
    margin: 0;
  }

  .Settings{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20px;
    margin-top: 55%;
    margin-bottom: 10%;
    font-family: inter;
    cursor: pointer;
    font-weight: 550;
  }
  .out{
    background-color: #F7C159;
    border-radius: 19px;
    height: 40px;
    width:130px;
    align-self: center;
    font-family: inter;
    font-weight: bolder;
    cursor: pointer;

  }