.anas-commentcontainer
{
    width: 31vw;
    height: 20vh;
    border-radius: 15px;
    overflow-y: scroll;
    background-color: #EBEBEB;
    padding-left: 1vw;
    padding-right: 1vw;
    
}
.anas-comment
{
font-size: 18px;
font-weight: 500;
line-height: 42px;
color: #746E6E;
}
