.commentlistcontainer
{
    height: 40vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 15px;
    overflow-y: scroll;
    width: min-content;
}
.commentlist
{
    display: flex;
    flex-direction: column;
    gap:0.5vh;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:transparent; 
    border-radius: 15px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #787777;
    height: 7vh;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }